.display {
  display: flex;
  flex-direction: column;
}

img {
  display: flex;
  justify-content: left;
  flex-direction: column;
  float: left;
  width: 222px;
  height: 222px;
  object-fit: cover;
  margin: 0px 12px 12px 0px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.youtube {
  height: 250px;
  float: right;
}

.view {
  min-width: 600px;
}

.container {
  margin: 25px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 725px;
}

h3 {
  color: white;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}
