#Header {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-family: "Yusei Magic", sans-serif;
  box-shadow: 1px 1px 20px 1px grey;
  border-radius: 0 0 18px 18px;
}

#Header a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px grey;
  padding: 12px;
}

#Header a:hover,
#Header a > h1:hover {
  text-shadow: 1px 1px 5px black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
