#Header {
  background-color: #da8bb5;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-family: "Yusei Magic", sans-serif;
  box-shadow: 1px 1px 15px 1px rgb(80, 80, 80);
}

#Header a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px grey;
  padding: 12px;
}

#Header a:hover,
#Header a > h1:hover {
  text-shadow: 1px 1px 5px white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 800px) {
  #Header a {
    padding: 5px;
    font-size: 18px;
  }
}
