#Header {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 20px 1px black;
}

#Header a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#Header a:hover,
#Header a > h1:hover {
  text-shadow: 1px 1px 5px grey;
}

.sticky {
  position: fixed;
  top: 0;
  width: 98.3%;
  z-index: 99;
}
