.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #da8bb5;
  color: white;
  font-size: 18px;
  box-shadow: 1px 1px 15px 1px rgb(80, 80, 80);
  margin-top: 25px;
}
