.App {
  min-height: 100vh;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  font-family: "Yusei Magic", sans-serif;
  background-image: linear-gradient(
      rgba(250, 248, 248, 0.6),
      rgba(0, 0, 0, 0.1)
    ),
    url("./images/zennn.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
