.App {
  min-height: 100vh;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/moon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
