input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e9ecef;
  font-size: 15px;
}

button:hover {
  background-color: #dee2e6;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 200px;
}
/* .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
