input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 40%;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e9ecef;
  font-size: 15px;
  color: #757575;
}

button:hover {
  background-color: #dee2e6;
}

.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 200px;
  width: 400px;
}

.background {
  margin: 25px;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
  width: 450px;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 800px) {
  .background {
    max-width: 375px;
  }
}
